{% extends "base.html" %}
{% block content %}  
<div class="container">
<h2>Админка</h2>

{% for x in r %}
<form method="post">
  <strong>№{{ x.id }}.</strong> {{ x.fio }} <br> {{ x.course }} | {{ x.date }} | {{ x.status }} <br>
  <a href="?page=admin&id={{ x.id }}&status=Идет" class="btn">Начать</a>
  <a href="?page=admin&id={{ x.id }}&status=Завершено" class="btn">Завершить</a>
</form>
{% endfor %}

{% if not r %}
<h2>Заявок пока нет</h2>
{% endif %}

<button type="button" onclick="location.href='/?page=logout'">Выход</button>
</div>
{% endblock %}