{% extends "base.html" %}
{% block content %}
<div class="container">

<h2>Авторизация</h2>

<form method="post">
    <input name="login" placeholder="Логин">
    <input name="password" type="password" placeholder="Пароль">
    <button>Войти</button>
    <button type="button" onclick="location.href='/?page=register'">Регистрация</button>
    {% if e %}
    <div class="error">{{ e }}</div>
    {% endif %}
</form>

<div class="slider">
    <img src="{{ url_for('static', filename='images/image08.webp') }}" class="slide">
    <img src="{{ url_for('static', filename='images/image09.webp') }}" class="slide">
    <img src="{{ url_for('static', filename='images/image10.webp') }}" class="slide">
    <img src="{{ url_for('static', filename='images/image11.jpg') }}" class="slide">
    <button class="nav-btn left" onclick="moveSlide(-1)">&lt;</button>
    <button class="nav-btn right" onclick="moveSlide(1)">&gt;</button>
</div>

<script>
    let current = 0;
    const slides = document.querySelectorAll('.slide');
    let autoTimer = setInterval(() => moveSlide(1), 3000);
    function moveSlide(direction) {
        slides[current].style.display = 'none';
        current = (current + direction + slides.length) % slides.length;
        slides[current].style.display = 'block';
        clearInterval(autoTimer);
        autoTimer = setInterval(() => moveSlide(1), 3000)}
</script>
</div>
{% endblock %}