{% extends "base.html" %}
{% block content %}  
<div class="container">
<h2>Мои заявки</h2>

{% if r %}
{% for x in r %}
<form method="post">
    <strong>Курс:</strong> {{ x.course }} (дата начала: {{ x.date }}) <br>
    <strong>Статус:</strong> {{ x.status }}
    {% if x.status == 'Завершено' %}
        <input type="hidden" name="request_id" value="{{ x.id }}">
        <textarea name="text" placeholder="Можете оставить отзыв"></textarea>
        <button>Отправить отзыв</button>
    </form>
    {% endif %}
</form>
{% endfor %}
{% endif %}

{% if not r %}
<h2>Заявок пока нет</h2>
{% endif %}

<form>
  <div class="help">Хотите пройти еще один курс?</div>
  <button type="button" onclick="location.href='/?page=create'">Новая заявка</button>
</form>

</div>
{% endblock %}